[submodule "Libs/CANopenNode"]
	path = Libs/CANopenNode
	url = https://github.com/CANopenNode/CANopenNode.git
[submodule "Libs/CANopenSTM32"]
	path = Libs/CANopenSTM32
	url = https://github.com/CANopenNode/CanOpenSTM32.git
